<body>
<h1><center>Acerca de nosotros</center></h1>
<p style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Somos una empresa de venta de electrónicos que tiene como objetivo brindar accesibilidad a la población de Perú
    a lo último en tecnología y al menor precio.<br><br>
    Hoy por hoy, estamos conscientes que la adaptación a cada uno de los cambios tecnológicos y el profundo conocimiento 
    del mercado son las claves para brindar un servicio de alto nivel, por esto, nuestro compromiso y reto es proponer ideas, 
    servicios y productos de alta calidad; implementar opciones viables, reales y adaptables a los distintos presupuestos; y, 
    sobre todo, ofrecer el servicio y atención que nuestros usuarios exigen y merecen.</p>

    <img src="https://web-infox.eu/media/images/articles/eshop-feutures-web-infox.png"
    width="800" height="500" style="display: block; margin-left: auto; margin-right: auto; 
    border:10px solid #D35400; border-radius: 10%; padding: 5px">
</body>